{{define "/chat/group.shtml"}}
<div id="tabbar-group" class="mui-control-content" v-show="win=='main'">
    <header class="mui-bar mui-bar-nav">
        <h1 class="mui-title">群聊</h1>
    </header>
    <ul class="mui-table-view mui-table-view-chevron" style="margin-bottom: 53px;">
        <li v-for="item in communitys" class="mui-table-view-cell mui-media" @tap="groupmsg(item)">
            <span class="mui-badge mui-badge-red" v-if="item.unreadmsg!=0" v-text="item.unreadmsg"></span>
            <img class="mui-media-object mui-pull-left avatar" :src="item.icon">
            <div class="mui-media-body">
                <span v-text="item.name"></span>
                <p class='mui-ellipsis'>
                    <span v-if="item.lastsayid!=myself.id" v-text="usermap[item.lastsayid].nickname"></span>
                    <span v-if="item.lastsayid!=myself.id">: </span>
                    <span v-text="item.lastrecord"></span>
                </p>
            </div>
        </li>
    </ul>
</div>
{{end}}